<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<h1>Articles</h1>
<ul>
    {% if posts is iterable %}
        {% for post in posts %}
            <li>
                {{ post.title }}
            </li>
        {% endfor %}
    {% else %}
        {{ posts.title }}
    {% endif %}
</ul>
{% block javascripts %}{% endblock %}
</body>
</html>
